<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wit.apppath"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="edu.wit.apppath.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.wit.apppath.Map"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="edu.wit.apppath.Directions"
            android:label="@string/title_activity_directions" >
        </activity>
        <activity
            android:name="edu.wit.apppath.NFC"
            android:label="@string/title_activity_nfc" >
        </activity>
        <activity
            android:name="edu.wit.apppath.FloorSelect"
            android:label="@string/title_activity_floor_select" >
        </activity>
        <activity
            android:name="edu.wit.apppath.DirectionDisplay"
            android:label="@string/title_activity_direction_display" >
        </activity>
    </application>

</manifest>
